
#landingPageCarousel {
    height: 100vh;
    position: relative;
    z-index: 0;
}

#landingPageCarousel .carousel-inner, #landingPageCarousel .carousel-item {
    height: 100%; 
}

.carousel-item {
   width: 100%; 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.carousel-item p {
    font-size: 32px;
}

.carousel-item h5 {
    font-size: 40px;
}

#landingPageCarousel .carousel-inner::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: green;
    opacity: 0.3;
}

#slide1 {
    background-image: url('../img/moby_deploy1_2.jpg');
}

#slide2 {
    background-image: url('../img/moby_deploy1_4.jpg');
}

#slide3 {
    background-image: url('../img/moby_deploy1_5.jpg');
}

#slide4 {
    background-image: url('../img/moby_deploy1_6.jpg');
}

#slide5 {
    background-image: url('../img/moby_deploy1_8.jpg');
}